@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    /* @apply bg-app-off-white; */
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input,
  input:not([type="checkbox"]):not([type="file"]),
  textarea,
  select {
    @apply w-full block py-1.5 px-4 text-gray-500 rounded-md border !border-gray-300 !text-sm placeholder:text-[#6E7581]/50 !leading-[24px] !ring-black;
  }
  .btn {
    @apply py-2 px-6 text-sm text-white rounded-lg shadow-sm border;
  }
  .btn-primary {
    @apply bg-[#81B5A6] border-[#81B5A6];
  }
  .btn-black {
    @apply bg-black border-black;
  }
}

@layer utilities {
}

@layer components {
  .chat-message a {
    @apply text-primary;
  }
  .chat-message div > img {
    @apply !block mx-auto;
  }
}

.no-scroll::-webkit-scrollbar {
  display: none !important;
}
